__pycache__
resources/
settings.*
.vscode
.idea
.DS_Store
credentials.json
token.json
local.db
node_modules

orig/
cropped/
venv/
tmpimages/


# Sphinx documentation
docs/_build/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/